@page
@model CS5227_LUCIA11507.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
}
<h1>Shop Items</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row col">
                @foreach (var foodItem in Model.FoodItems)
                {
                    <div class="col-md-4">
                        <div class="col card mb-4">
                            <img src="/fooditems/@foodItem.ImageFileName" class="card-img-top img-fluid" alt="@foodItem.Name">
                            <div class="card-body">
                                <h5 class="card-title">@foodItem.Name</h5>
                                <p class="card-text">@foodItem.Description</p>
                                <p class="card-text">Price: $@foodItem.Price</p>
                                <a class="btn btn-primary" asp-action="Add">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" asp-page="/Cart">Go to Cart</a>
        </div>
    </div>
</div>
