@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    </head>
    <body>
        <div class="containers">
            <section id="summary">
                <img src="~/logo.png" alt="Company Logo" />
                <article id="summary-passage">
                    <h1 class="display-4">Welcome</h1>
                    <p>In the year 2115, Old World Delights was founded in New California, UCA.</p>
                    <p>We provide a variety of food from the Old World before the Great War in 2077. Ranging from different cuisines and drinks, we provide.</p>
                </article>
            </section>
            <br>
            <section>
            </section>
        </div>
    </body>
</html>
